@charset "utf-8";

#titulo {
  text-align: center;
  font-size: 48px;
  background-color: coral;
  background-color: blue;
  background-image: -webkit-linear-gradient(top, blue, #9de8f1);
  width: 50%;
  border-radius: 30px;
  margin: 40px auto;
  padding: 15px;
  color: white;
  box-shadow: grey 15px 15px 15px;
  text-shadow: black 2px 2px 2px;
}

.imagen {
  width: 200px;
  height: 130px;
  border: 2px solid black;
  padding: 4px;
  float: left;
  margin: 80px 60px;
  border-radius: 10px;
  transition: transform 0.5s ease-in-out, filter 0.5s ease-in-out;
  filter: grayscale(1);
}

.imagen:hover {
  transform: scale(1.1);
  filter: grayscale(0);
}

p.blue {
  color: blue;
  margin-right: 20px;
}

.banner {
  background: linear-gradient(to bottom, #9de8f1, blue, #9de8f1);
  text-align: center;
  padding: 30px;
  margin-top: 380px;
  overflow: hidden;
}

.banner-text {
  animation: moveText 20s linear infinite;
}

.banner p {
  font-size: 24px;
  margin: 0;
  color: white;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

a {
  color: #de43ba;
  text-decoration: none;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

@keyframes moveText {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.banner-second {
  background: linear-gradient(to bottom, #9de8f1, blue, #9de8f1);
  text-align: center;
  padding: 30px;
  margin-top: 50px;
  overflow: hidden;
}

.banner-second p {
  font-size: 24px;
  margin: 0;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  animation: moveTextRightToLeft 20s linear infinite;
}

@keyframes moveTextRightToLeft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px 0;
}
